.news-card {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-link {
    text-decoration: none;
    color: inherit;
}

.news-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news-card img {
    max-height: 200px;
    object-fit: cover;
}

.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
    transform: scale(1.05); /* Cresce o card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}
