.container {
    max-width: 800px;
    margin: auto;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.card-text {
    font-size: 1.2em;
}
