body {
    font-family: 'Arial', sans-serif;
    background: #f0f2f5;
}

.tabela-container {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-form {
    margin-bottom: 20px;
}

.tabela-card {
    border: none;
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.2s; /* Transição suave */
}

.tabela-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.tabela-header {
    background: linear-gradient(90deg, #4e4e4e, #636363);
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 12px 12px 0 0; /* Bordas arredondadas */
}

.tabela-header h5 {
    margin: 0;
}

.tabela-classificacao {
    margin-top: 20px;
}

.table-success {
    background-color: #d4edda;
}

.table-warning {
    background-color: #fff3cd;
}

.table-danger {
    background-color: #f8d7da;
}

.match-row {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Transição suave */
}

.match-row:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.match-title {
    margin-bottom: 15px;
    font-size: 1.5rem; /* Tamanho da fonte maior */
    color: #4e4e4e;
    text-align: center; /* Centraliza o título */
}

.team-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.score-input input {
    width: 60px;
    text-align: center;
}

.vs {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.match-details {
    font-size: 0.9rem;
    color: #6c757d;
    text-align: center; /* Centraliza os detalhes da partida */
}

button.btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
    padding: 5px 10px; /* Reduz o padding do botão */
    font-size: 0.8rem; /* Reduz o tamanho da fonte do botão */
}

button.btn-primary:hover {
    background-color: #e65c00;
    border-color: #e65c00;
}
